@font-face {
  font-family: 'font';
  src: url('./assets/font.ttf')  format('truetype');
}

html, body {
  font-family: 'font';
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

#ui-scorepanel {
  display: none;
  color: white;
  font-style: italic;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5vh;
  width: 200px;
}

#ui-scorepanel.visible {
  display: flex;
}

.ui-score {
  font-size: 40px;
  background-color: transparent;
  color: #fff;
  border: 0;
  text-align: right;
  width: 100%;
  font-family: 'font';
}

.ui-scorepanel.animate .ui-score {
  animation-name: pop;
  animation-duration: 1s;
}

#ui-scoreboard.scoreboard {
  color: #fff;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%,0);
  border-radius: 15px;
  background-color: rgba(0, 0, 0,0.5);
  text-align: left;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  z-index: 100;
  opacity: 0.5;
}

#ui-scoreboard.submitted .scoreboard__player {
  display: none;
}

#ui-scoreboard.scoreboard:hover {
  opacity: 1;
}

#ui-scoreboard.scoreboard p{
  font-size: 27px;
  padding: 0;
  margin: 0;
  display: none;
}

#ui-scoreboard.focus p{
  display: inline-block;
}

#ui-scoreboard.focus {
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  opacity: 1;
}

#ui-scoreboard .ui-scoreboard__form {
  display: none;
}

#ui-scoreboard .ui-scoreboard__form input {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
}

#ui-scoreboard .ui-scoreboard__form button {
  color: white;
  background-color: #002040;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 700;
}
#ui-scoreboard .ui-scoreboard__form button:hover {
  background-color: #06354d;
  cursor: pointer;
}

#ui-scoreboard.focus .ui-scoreboard__form {
  display: block;
}

#ui-scoreboard:hover #ui-scoreboard__inner {
  max-height: 50vh;
}

#ui-scoreboard.focus #ui-scoreboard__inner {
  max-height: 50vh;
}

#ui-scoreboard__inner {
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  max-height: 16px;
  overflow-y: auto;
  padding-right: 1rem;
}

.scoreboard__name {
  color:yellowgreen;
  margin-right: 0.5rem;
}

.scoreboard__player .scoreboard__name {
  color:red;
}

.scoreboard__name::after {
  content: ':';
}


dialog { 
  text-align: center;
  z-index: 0;
  width: 100%;
}

dialog h1 {
  font-weight: 500;
  font-size: 100px;
}

canvas.fullscreen { 
  width: 100vw; 
  height: 100vh;
}

ol {
  text-align: center;
  margin-top: 0;
}

@keyframes pop {
  0%   {transform: scale(1);}
  25%   {transform: scale(1);}
  75%  {transform: scale(2);}
  100% {transform: scale(1);}
}